body {
  margin: 0;
  position: relative;
}

#temperatureAtTop {
  font-family: "Verdana";
  width: 50%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr, 1fr;
}

#wrapper {
  font-family: "Verdana";
  width: 50%;
  text-align: center;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr, 1fr;
}

#thermo_body {
  background-color: cadetblue;
  grid-column: 1 / 4;
  display: grid;
  height: 150px;
}

#temp_num{
  font-size: 8em;
}

#celsius {
  font-size: 1em;
  vertical-align:80px;
}

#psm_and_energy_wrapper {
  background-color: cadetblue;
  grid-column: 1 / 4;
  height: 20px;
}

#powerSaveDisplay {
  color: lightgreen;
  font-size: .8em;
  margin-right: 50px;
}

#energyUsage {
  color: black;
  font-size: .8em;
  margin-left: 50px;
}

#utility_btn {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  height: 100px;
}

#minus {
  background-color: coral;
  grid-column: 1 / 2;
  height: 100px
}

#reset {
  background-color: darkseagreen;
  font-size: 1em;
  height: 50px;
}

#powerSave {
  background-color: darkseagreen;
  font-size: 1em;
  height: 50px;
}

#plus {
  background-color: darkkhaki;
  grid-column: 3 / 4;
  height: 100px
}

.btn-icon {
  font-size: 2em;
}

.btn-text {
  font-size: 1em;
}
